.container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  background: deepskyblue;
  color: white;
}

.box {
  width: 150px;
  height: 100px;
  background: chocolate;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}