/**
 * All gaps were 10px
 */

/* Key */
p { margin-top:10px; margin-bottom:10px; }


/* Other */
html, body { width: 100%; height: auto; margin:0; padding:0; }
body { box-sizing: border-box; border: 1px solid grey; }
