/* Key */
.container { display: flex; align-items: center }

.foo { align-self: flex-start; }


/* Other */
html, body { width: 100%; height: 100%; padding: 0; margin: 0;  }

.container { height:100%; }

.container>div { width: 100px; height: 100px; }

.foo { background: blue; }

.bar { background: orange; }

.zoo { background: purple; }