.container {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  height: 100px;
  background: deepskyblue;
  color: white;
}

.container .title {
  font-size: 20px;
  margin-right: 50px;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
