.container {
  width: 0%;
  height: 100px;
  display: flex;
}

.left {
  min-width: 100px;
  background: #ccc;
}

.right {
  background: deepskyblue;
  flex: 1 1 auto;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}