/**
 * Most gaps were 20px, but the most top 
 * gap and the most bottom were 10px
 */

/* Key */
p { padding-top:10px; padding-bottom:10px; }


/* Other */
html, body { width: 100%; height: auto; margin:0; padding:0; }

body { box-sizing: border-box; border: 1px solid grey; }

p { margin: 0; }
