.container {
  display: flex;

  width: 90%;
  height: 50px;
}

input {
  flex: 1 1 auto;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  background: #ccc;
  padding: 0 10px;
}


html, body {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}